# api
ENV=''
API_HOST=''
API_PORT=''

# database
MASTER_DB_HOST=''
MASTER_DB_PORT=''
MASTER_DB_NAME=''
MASTER_USERNAME=''
MASTER_PASSWORD=''

# auth
JWT_SECRET=''
JWT_ACCESS_TOKEN_EXPIRY=''
JWT_REFRESH_TOKEN_EXPIRY=''

# caching
CACHE_EXPIRY=''

# logging
ERROR_LOG_FILE=''
ERROR_LOG_FILE_MAX_SIZE=''
ERROR_LOG_FILE_MAX_BACKUPS=''
ERROR_LOG_FILE_MAX_AGE=''
COMPRESS_LOGS=''

# business
POS_PLATFORM_ID=''

# aws
AWS_REGION=''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''

# aws-sqs
AWS_SQS_PREFIX=''
AWS_SQS_ORDER_QUEUE=''
AWS_SQS_CUSTOMER_QUEUE=''

# infra services
USER_SERVICE_URL=''
USER_SERVICE_CLIENT_ID=''
USER_SERVICE_CLIENT_SECRET=''